{% extends "base.html" %}
{% block content %}

<div class="container-fluid text-light p-lg-5">

    <div>
        <button form="save" class="btn btn-success btn-block" title="Save"><i class="fa fa-save"></i> Save</button>
    </div>
    <br>

    <form id="save" action="/settings/save" method="post"></form>

    <input form="save" type="text" name="hdhr id" id="hdhr id" class="form-control" value="{{ settings['hdhr id'] }}" hidden>

    <h4>Streaming</h4>
    <hr>
    <div class="p-sm-3">

        <h6>Streaming Method:</h6>
        <div class="col-md-2">
            <select class="form-select" title="Streaming Method" form="save" id="stream method" name="stream method"
                required>
                <option {{ "selected" if settings['stream method']=="ffmpeg" }} value="ffmpeg">FFMpeg</option>
                <option {{ "selected" if settings['stream method']=="buffer" }} value="buffer">Buffer</option>
                <option {{ "selected" if settings['stream method']=="redirect" }} value="redirect">Redirect</option>
            </select>
        </div>
        <span class="text-muted">FFMpeg is required to keep track of accounts and ensure only x users per MAC.</span>

        <br><br>

        <h6>FFMpeg Command:</h6>
        <div class="col-md-12">
            <div class="input-group flex-nowrap">
                <input form="save" type="text" name="ffmpeg command" id="ffmpeg command" class="form-control"
                    value="{{ settings['ffmpeg command'] }}" required>
                <button class="btn btn-danger btn-block" title="Reset"><i class="fa fa-undo"
                        onclick="resetDefault(this)" data-input="ffmpeg command"
                        data-default="{{ defaultSettings['ffmpeg command'] }}"></i></button>
            </div>
        </div>
        <span class="text-muted">Edit with caution! Check FFmpeg documentation for help.<br>'&lt;proxy&gt;',
            '&lt;url&gt;', and '&lt;timeout&gt;' are the available variables.</span>

        <br><br>

        <h6>Stream Timeout:</h6>
        <div class="col-md-2">
            <div class="input-group flex-nowrap">
                <input form="save" type="number" name="stream timeout" id="stream timeout" class="form-control"
                    value="{{ settings['stream timeout'] }}" required>
                <button class="btn btn-danger btn-block" title="Reset"><i class="fa fa-undo"
                        onclick="resetDefault(this)" data-input="stream timeout" data-default="{{ defaultSettings['stream timeout'] }}"></i></button>
            </div>
        </div>
        <span class="text-muted">Seconds to wait for a stream before giving up.</span>

        <br><br>

        <h6>Test Streams:</h6>
        <div class="col-md-2">
            <div class="form-check form-switch">
                <input form="save" type="checkbox" class="checkbox form-check-input" name="test streams" value="true" {{ "checked" if settings['test streams']=='true' }}>
            </div>
        </div>
        <span class="text-muted">This is required for the fallback system to work.</span>

        <br><br>

        <h6>Try All MAC's:</h6>
        <div class="col-md-2">
            <div class="form-check form-switch">
                <input form="save" type="checkbox" class="checkbox form-check-input" name="try all macs" value="true" {{ "checked" if settings['try all macs']=='true' }}>
            </div>
        </div>
        <span class="text-muted">Try all MAC's before looking for a fallback.</span>

    </div>

    <br>

    <h4>Playlist</h4>
    <hr>
    <div class="p-sm-3">

        <h6>Use channel genres:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="use channel genres" value="true" {{ "checked" if settings['use channel genres']=='true' }}>
        </div>

        <br>

        <h6>Use channel numbers:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="use channel numbers" value="true" {{ "checked" if settings['use channel numbers']=='true' }}>
        </div>

        <br>

        <h6>Sort by genre:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="sort playlist by channel genre" value="true" {{ "checked" if settings['sort playlist by channel genre']=='true' }}>
        </div>

        <br>

        <h6>Sort by number:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="sort playlist by channel number" value="true" {{ "checked" if settings['sort playlist by channel number']=='true' }}>
        </div>

        <br>

        <h6>Sort by name:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="sort playlist by channel name" value="true" {{ "checked" if settings['sort playlist by channel name']=='true' }}>
        </div>
        <span class="text-muted">Sorting options stack and are applied: Genre > Number > Name.<br>Without any sorting
            the channels are listed as the server lists them.</span>

    </div>

    <br>

    <h4>Security</h4>
    <hr>
    <div class="p-sm-3">

        <h6>Enable:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="enable security" value="true" {{ "checked" if settings['enable security']=='true' }}>
        </div>

        <br>

        <h6>Username:</h6>
        <div class="col-md-4">
            <input form="save" type="text" name="username" id="username" class="form-control"
                value="{{ settings['username'] }}" title="Username" required>
        </div>

        <br>

        <h6>Password:</h6>
        <div class="col-md-4">
            <input form="save" type="password" name="password" id="password" class="form-control"
                value="{{ settings['password'] }}" title="Password" required>
        </div>
        <span class="text-muted">Recommended if STB-Proxy is exposed to the internet or on a public network.</span>

    </div>

    <br>

    <h4>HDHomeRun</h4>
    <hr>
    <div class="p-sm-3">

        <h6>Enable:</h6>
        <div class="form-check form-switch">
            <input form="save" type="checkbox" class="checkbox form-check-input" name="enable hdhr" value="true" {{ "checked" if settings['enable hdhr']=='true' }}>
        </div>

        <br>

        <h6>Name:</h6>
        <div class="col-md-4">
            <div class="input-group flex-nowrap">
                <input form="save" type="text" name="hdhr name" id="hdhr name" class="form-control"
                    value="{{ settings['hdhr name'] }}" required>
                <button class="btn btn-danger btn-block" title="Reset"><i class="fa fa-undo"
                        onclick="resetDefault(this)" data-input="hdhr name" data-default="{{ defaultSettings['hdhr name'] }}"></i></button>
            </div>
        </div>
        <span class="text-muted">Display name of the server in Plex DVR etc.</span>

        <br>
        <br>

        <h6>Tuners:</h6>
        <div class="col-md-2">
            <div class="input-group flex-nowrap">
                <input form="save" type="number" name="hdhr tuners" id="hdhr tuners" class="form-control"
                    value="{{ settings['hdhr tuners'] }}" required>
                <button class="btn btn-danger btn-block" title="Reset"><i class="fa fa-undo"
                        onclick="resetDefault(this)" data-input="hdhr tuners" data-default="{{ defaultSettings['hdhr tuners'] }}"></i></button>
            </div>
        </div>
        <span class="text-muted">Max concurrent streams in Plex DVR etc.</span>

    </div>

</div>

<script>
    function resetDefault(ele) {
        var d = ele.getAttribute('data-default');
        var i = ele.getAttribute('data-input');
        document.getElementById(i).value = d;
    }
</script>

{% endblock %}